.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    background-color: rgb(20,20,20);
    color: white;

    .top {
        //height: 60%;
    }

    .bot {
        // height: 40%;
        background-color: rgb(175,140,110);
        height: 30vw;
        padding: 3vw;
        margin: 2vw;
        border-radius: 8px;
        border: 1px solid black;
    }
}

.selected {
    text-align: center;
    padding: 1rem;
}