.main {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    background-color: rgb(220,220,220);
    // color: white;
    color: black;
    overflow: hidden;

    .left {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .right {
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;

        .playMode {
            width: 100%;
            text-align: center;
            padding: 10px;
        }
        
    }
}

.selected {
    text-align: center;
    padding: 1rem;
}