// .container {
//     position: relative;
// }

.arm {
    // position: fixed;
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: 1000;
}

.axis {
    // position: absolute;
    // top: 0;
    // right: 0;
    height: 30px;
    width: 30px;
    background-color: grey;
    border-radius: 99px;
    text-align: center;
    z-index: 1000;

    transition: transform 0.5s ease-in-out;

}

.rod {
    height: 200px;
    width: 10px;
    background-color: brown;
    position: relative;
    left: 30%;
    top: 25%;
    z-index: 999;
}