.box {
    text-align: center;
    // width: 400px;
    margin: auto;
    background-color: rgb(20,20,20);
    color: white;
    padding: 20px;
    border-radius: 20px;
}

.deck {
    padding: 30px;
    position: relative;
    width: min-content;
    // margin: auto;
}

.turntable {
    text-align: center;
    // width: min-content;
    // margin: auto;
}