.collection {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    position: relative;
    //margin: 5vw;
}

.record {
    display: inline-block;
    height: 30vw;
    width: 30vw;
    // height: 30%;
    // width: 30%;
    position: absolute;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    // &:hover:not(:first-child) {
    //     transform: translate(2rem, 0);
    //     transition: transform 0.1s linear;
    // }
    &:hover {
        transform: translate(0, -2rem);
        transition: transform 0.1s linear;
    }
    // @media(hover: hover) and (pointer: fine) {
    //     transform: translate(2rem, 0)
    // }
}