.collection {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    position: relative;
    //margin: 5vw;
}

.record {
    display: inline-block;
    height: 30vw;
    width: 30vw;
    // height: 30%;
    // width: 30%;
    position: absolute;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    // &:hover {
    //     animation: ease-in 1s linear;
    //     transform: translate(2rem, 0)
    // }
    @media(hover: hover) and (pointer: fine) {
        transform: translate(2rem, 0)
    }
}